/* 
  1- navigation bar
  2- information  
  3- Exhibition   
  4- the Products
  5- Advertising
  6- the comments
  7- Footer
*/

/* Global style*/

* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}
:root {
  --main_color : blue;
  --child_color : black ;
  --main_border : gray;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(189, 181, 181); 
  box-shadow: 0 0 4px 0 gray;
}
::-webkit-scrollbar-thumb {
  background:var(--main_color); 
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* button scroll top */
.btn_scrollYop
{
  width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #8080804a;
    border: 1px solid gray;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    z-index: 50;
    display: none;
    overflow: hidden
}
.btn_scrollYop a
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main_color);
  font-size: 18px;
}

/* massage from user welcome */
.massage {
  width: 320px;
  height: 100px;
  background-color:white;
  box-shadow: 0 0 4px 0 gray;
  border-radius: 10px;
  padding: 1rem 3rem;
  z-index: 50;
  position: fixed;
  display: none;
  bottom: 6rem;
  right: 1rem;

}
.massage h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--main_color);
}
.massage p {
  font-size: 13px;
  color: gray;
}
.massage .Close_Massage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 0;
  box-shadow: 0 0 4px 0 grey;
  color: var(--child_color);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: -5px;
  left: -20px;;
}


/* loading  */
.loading_page
{
    width: 100%;
    height: 100%;
    background-color: rgb(42, 42, 134);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loading_page .loader
{
    display: flex;
}
.loading_page .loader span 
{
    display: block;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.loading_page .loader span:nth-child(2) 
{
    background: #f07e6e;
}
.loading_page .loader span:nth-child(3) 
{
    background: #84cdfa;
}
.loading_page .loader span:nth-child(4) 
{
    background: #5ad1cd;
}
.loading_page .loader span:not(:last-child) 
{
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20px);
    }
}
.loading_page .loader span:last-child
{
    animation: jump 1.5s ease-in-out infinite;
}
@keyframes jump {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(10px, -10px);
    }
    20% {
        transform: translate(20px, 10px);
    }
    30% {
        transform: translate(30px, -50px);
    }
    70% {
        transform: translate(-120px, -50px);
    }
    80% {
        transform: translate(-140px, 10px);
    }
    90% {
        transform: translate(-130px, -10px);
    }
    100% {
        transform: translate(-120px, 0);
    }
}

/* Global style*/





/*******  Navigation ******/
header {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}
header .navbar{
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .logo {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.navbar .logo a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
  position: relative;
}
.navbar .logo a::after{
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 3px solid blue;
  border-right: 3px solid blue;
  position: absolute;
  bottom: -4px;
  right: -10px;
}
.navbar .logo a::before{
  content: "";
  width: 10px;
  height: 10px;
  border-top: 3px solid blue;
  border-left: 3px solid blue;
  position: absolute;
  top: -4px;
  left: -10px;
}
.navbar .logo a span {
  color: var(--main_color);
  font-weight: 400;
}

/* links  */
.navbar .links { 
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.navbar .links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 0 5px;
    padding: 8px;
    transition: .3s;
}
.navbar .links a:hover {
  color: var(--main_color);
} 

/* buttons */
.navbar .bottoms {
  width: 130px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.navbar .bottoms  button {
  width: 40px;
  height: 40px;
  margin: 0px 5px;
  font-size: 19px;
  background: none;
  border: 0;
  cursor: pointer;
  transition: .3s ;
}
.navbar .bottoms button a{
  color: black;
}
.btn_media {
  display: none;
}


/* search */
.navbar .search {
  width: 100%;
  height: 0;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .3s ;
}
.navbar .active_search_content {
  height: 50px;

}
.navbar .search form {
  width: 50%;  
  height: 80%;
  box-shadow: 0 0 4px 0 #808080ad;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .search form  input {
  width: 90%;
  height: 100%;
  font-size: 14px;
  padding: 0 10px;
  outline: none;
  border: 0;
}
.navbar .search form  input:focus {
box-shadow: 0 0 2px 1px var(--main_color);
}
.navbar .search form  button {
  width: 10% ;
  height: 110%;
  font-size: 15px;
  border: 0;
  background: var(--main_color);
  color: white;
  cursor: pointer;
}

/******** Information *******/
.information {
  width: 100%;
  height: 550px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information .text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: 5rem;
  background-color: var(--main_color);
}
.information .text h1 {
  font-size: 40px;
  color: white;
  margin: 10px 0;
  font-weight: normal;
}
.information .text p {
  font-size: 14px;
  color: #ffffff94;
  width: 400px;
}
.information .text button {
  width: 150px;
  height: 35px;
  color:var(--main_color);
  background: white ;
  font-size: 15px;
  border-radius: 18px;
  margin: 1.5rem 0;
  cursor: pointer;
  transition: .3s linear;
  border: 1px solid white;
}
.information .text button:hover {
  transform: scale(1.1);
  }

/* info image */
.information  .info_images {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
.information  .info_images img {
  width: 80%;
}

/****** Exhibition ******/
.Exhibition {
  width: 80%;
  height: fit-content;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Exhibition .item { 
  width: 250px;
  height: 300px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 gray;
  overflow: hidden;
  cursor: pointer;
}
.Exhibition .item:hover img {
  width: 120px;
  height: 120px;
  margin-top: 1rem;
  padding: 3px;
  background-color: var(--main_color);
  border-radius: 50%;
}
.Exhibition .item:hover .text {
  height: 200px;
  padding: 1rem;
}
.Exhibition .item img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    transition: .5s linear;
} 
.Exhibition .item .text {
  width: 100%;
  height: 0;
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: var(--main_color);
  transition: .5s linear;

}
.Exhibition .item .text::after {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 0;
  background-color:var(--main_color);
}
.Exhibition .item .text p {
  font-size: 12px;
  color: rgb(201, 196, 196);
}
.Exhibition .item .text button {
  width: 100px;
  height: 30px;
  border-radius: 23px;
  background: white;
  border: 0;
  font-size: 12px;
  margin-top: 10px;
  color: var(--main_color);
  cursor: pointer;
}

.Exhibition  .btn_media_scroll {
  display: none;
}


/* Top deals */
.top_deals {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 2rem;
}
.top_deals .title_deals {
  font-size: 25px;
  font-weight: 500;
  color: var(--child_color);
  margin: 1rem 0;
}
.top_deals .list_item
{
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 10px;
  border-style: groove;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.top_deals .list_item .item
{
  width: 220px;
  height: 320px;
  padding: 1rem 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 4px 0 gray;
  border-radius: 5px;
}
.top_deals .list_item .item p 
{
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-bottom: 1rem;
}
.top_deals .list_item .item img
{
  width: 130px;
  height: 120px;
}
.top_deals .list_item .item .new_price
{
  font-size: 15px;
  color: blue;
}
.top_deals .list_item .item .old_price
{
  font-size: 12px;
  text-decoration: line-through;
}
.top_deals .list_item .item button
{
  width: 110px;
  height: 30px;
  font-size: 12px;
  margin-top: 5px;
  color: white;
  background-color: var(--main_color);
  border: 0;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}


/***** the Products ******/
.Products {
    width: 100%;  
    height: 100%;  
    padding: 50px 0px;  
    position: relative;
}   
.Products .title_products {
  font-size: 25px;
  font-weight: 500;
  color: var(--child_color);
  margin: 1rem 0;
}
.Products .content { 
    width: 100%;
    height: 815px;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid gray;
    border-style:groove;
    justify-content: space-evenly;
    overflow: hidden;
    transition: 1s linear;
}
.Products .show_more {
  height: 1600px;
}
.Products .content .Products_item {
    width: 250px;
    height: 360px;
    padding: 0px 1.5rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #80808087;
    background-color:white;
    transition: .3s linear;
} 
.Products .content .Products_item:hover { 
    margin: 5px 1rem;
}
.Products .content .Products_item img {
  width: 100%;
  height: 220px;
  margin: 10px 0;
  display: block;;
}
.Products .content .Products_item h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 1rem;
  color: var(--main_color);
}
.Products .content .Products_item p {
  font-size: 14px;
  margin-top: 5px;
  color:var(--main_border);
}  
.Products .content .Products_item span i {
  color:coral; 
  font-size: 10px;
  margin: 8px 0px ;
}
.Products .content .Products_item span {
  font-size: 13px;
  margin-right: 5px;
  font-weight: bold;
}

/* button loading */
.loading_item {
  width: 100px;
  height: 30px;
  background: none ;
  font-size: 16px;
  color: var(--child_color);
  border: 0;
  position: absolute;
  bottom: 12px;
  left: 20px;
  cursor: pointer;
}


/******  comments  *******/

.comments {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem 0;
  overflow: hidden;
}
.comments .list_item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  transition: .5s linear;
}
.comments .list_item .user {
    width: 250px;
    height: 280px;
    margin: 1rem 1.4rem;
    border-radius: 15px; 
    text-align: center;
    background-color: white;
    box-shadow: 0 0 3px 1px #80808059;
    position: relative;
}
.comments .list_item .user .main_image {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0; 
  background-color: var(--main_color);
  position: relative;  
  border-radius: 0 0 0 15px;
}
.comments .list_item .user .main_image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  bottom: -35px;
  left: 75px;
  box-shadow: 0 0 0px 2px var(--main_color);
}
.comments .list_item .user p {
  font-size: 13px;
  color: var(--main_border);
  width: 100%;
  margin: 0 auto;
  margin-top: 3.5rem;
  padding: 0 40px;
}                      
.comments .list_item .user h4 {
  text-align: center;
  font-size: 16px;
  margin-top: 8px ;
} 
.comments .list_item .user span i {
  font-size: 11px;
  color: blue;
  padding-bottom:5px ;
}
.comments .list_item .user .links {
  width: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 10px;
}
.comments .list_item .user .links a {
  text-decoration: none;
  color: white;
  font-size: 9px;
  margin: 5px 0;
  padding: 0 5px;
}
.comments .buttons_UserCol {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .buttons_UserCol button {
  width: 12px;
  height: 12px;
  background: none;
  margin: 0 3px;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.comments .buttons_UserCol .active_btnComments {
  border: 0;
  transform: scale(1.1);
  background-color: var(--main_color);
}

/****** footer ********/
footer {
  width: 100%;
  padding-top: 3rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b0a28;
}
footer .row {
  width: 70%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}  
footer .row .links {
  width: 150px;
  height: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
footer .row .links h5 {
  color: white;
  font-size: 25px;
  margin-bottom: .5rem;
}
footer .row .links a {
  width: fit-content;
  padding: 5px 0;
  text-decoration: none;
  color: gray;
  font-size: 13px;
  transition: .3s linear;
}
footer .row .links a:hover {
  color: white;
  margin-left: 10px;
}
footer .row .links a .icon {
  background: black;
  box-shadow: 0 0 4px 0 grey;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 4px;
  padding-top: 3px;
  text-align: center;
  font-size: 11px;
  color: white;
  transition: .3s linear;
}
footer .row .links a:hover .icon {
    background-color: blue;
    transform: rotateZ(360deg);
}
/* col */
footer .row .col {
  width: 260px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer .row .col img {
  width: 120px;
  height: 40px;
}

/* logos */
footer .row .logos {
  width: 260px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
footer .row .logos img {
  width: 120px;
  height: 70px;
  margin: 5px;
}

footer p {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-top: 1rem;
  font-size: 17px;
  padding: 2rem 0;
  border: 0;
  color: gray;
  border-top: 1px solid gray;
  border-style: groove;
}
footer p span {
  color:blue;
  font-weight: bold;
}






/* media Quary */

 /*  Small */
@media (min-width: 370px) and (max-width:700px) { 
  .container ,
  .navbar,
  footer .row
  {
      width:370px ;
  }
  .btn_media {
      display: block;
  }
  .navbar .logo a {
      font-size: 16px;
  }
  .navbar .links {
      width: 100%;
      height: 0;
      flex-direction: column;
      position: absolute;
      top: 69px;
      left: 0;
      overflow: hidden;
      background-color: white;
      transition: .2s linear ;
  }
  .navbar .active_header_links {
      height: 250px;
  } 
  .navbar .links a {
      width: 100%;
      display: inline-block;
      font-size: 15px;
      margin: 6px 0;
      padding: 7px 14px;
      box-shadow: 0 0 2px 0 grey;
  }

  /** Information **/
  .information
  {
      flex-direction: column;
      height: fit-content;
      margin-top: 1rem;
  }
  .information .text 
  {
      width: 100%;
      padding-left: 2rem;
      height: 230px;
  }
  .information .text h1 {
      font-size: 25px;
  }
  .information .text p {
      font-size: 13px;
      width: 250px;
  }
  .information .text button{
      width: 120px;
      height: 30px;
  }
  .information  .info_images
  {
      width: 100%;
      height: 230px;
  }

  .top_deals .list_item {
      display: grid;
      grid-auto-flow: column;
      align-items: start;
      justify-content: start;
      overflow-x: auto;
      padding: 1rem 0;
      border: 0;
  }
  .top_deals .list_item .item{
      width: 270px;
      padding: 1rem;
      margin: 0 2rem;
  }
  .top_deals .list_item::-webkit-scrollbar {
       height: 2px;
  }
  .top_deals .list_item::-webkit-scrollbar-track
  {
      background: none;
  }


  /****** Exhibition ******/
  .Exhibition {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      padding: 1rem 0;
      position: relative;
      overflow-x: auto;
  }
  .Exhibition::-webkit-scrollbar
  {
      height: 3px;
  }
  .Exhibition .item {
      margin: 0 2rem;
  }
   /* Products  */
  .Products .content {
  display: grid;
  height: fit-content;
  padding: 1rem;
  overflow-x: auto;
  grid-auto-flow: column;
  grid-auto-columns: auto auto;
  justify-content: start;
  overflow-x: scroll;
  }
  .Products .content::-webkit-scrollbar {
  height: 0;
  }
  .Products .content .Products_item {
  margin: 1rem 2rem;
  }
  .loading_item {
      display: none;
  }



  .comments {
      width: 290px;
      padding: 1rem 0;
      height: 100%;
  }
  
  /* footer */
  footer .row .links,
  footer .row .col,
  footer .row .logos{
      width: 100%;
      margin:  1rem 0;
  }
  footer .row .logos
  {
      width: 100%;
      margin:  1rem 0;
      justify-content: center;
  }
  footer p {
      width: 300px;
      font-size: 10px;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  } 
  



}

/* Medium */
@media (min-width: 705px) and (max-width:1000px)  {
  .container ,
  header .navbar,
  footer .row {
      width:700px ;
  }

  .information .text {
      padding-left: 1rem;
  }
  .information .text h1 {
      font-size: 30px;
  }
  .information .text p {
      width: 300px;
  }
  .information .text button {
      width: 120px;
      height: 30px;
  }

  .Exhibition {
      width: 100%;
      padding: 1rem;
  }
  .Exhibition .item {
      transform: scale(.9);
  }

  .comments {
      width: 90%; 
  }
  footer .row {
      width: 100%;
  }
  footer .row .logos img {
      width: 100px;
      height: 60px;
      margin: 5px;
    }
}

/* Large  */
@media (min-width: 1005px) and (max-width:1195px) {
  .container ,
  .navbar,
  footer .row {
      width:1050px ;
  }
  .Exhibition {
      width: 100%;
      padding: 1rem;
  }
  .comments {
      width: 88%; 
  }



}

/* Extra large  */
@media (min-width: 1200px) { 
  .container {
      width: 1300px ;
  }
  .navbar,
  footer .row {
      width: 1000px;
  }
}